.section-cta {
  padding: 9.6rem 4rem 9.6rem 4rem;
  background-color: #fcfaf9;
}

.cta-container {
  text-align: center;
}

.call-icon {
  height: 5rem;
  width: 5rem;
  color: #c1272d;
}

.call-now {
  font-size: 3.8rem;
  font-weight: 500;
  color: #333;
}

.call-now-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.call-number {
  font-size: 3.8rem;
  text-decoration: none;
  color: #c1272d;
  font-weight: 500;
}

.cta-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  align-items: center;
}

.or-container {
  text-align: center;
  font-size: 2.8rem;
  padding: 6rem 0;
}

.cta {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #ae2329, #c1272d);
}

.heading-submit {
  text-align: center;
  font-size: 3.2rem;
  padding-bottom: 6.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 3.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: #333;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form select {
  color: #333;
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  background-color: #333;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

@media (max-width: 42em) {
  .section-cta {
    padding: 9.6rem 2rem;
    background-color: #fcfaf9;
  }
  .cta {
    padding: 3.2rem;
  }

  .cta-grid {
    grid-template-columns: 1fr;
  }

  .call-now-container {
    margin-top: 3.2rem;
  }
}
