.logo {
  height: 5.2rem;
}

.footer {
  padding: 9.6rem 2rem;
  border-top: 2px solid #eee;
}

.grid--footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.footer-logo {
  display: block;
  margin-bottom: 3.4rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 3.4rem;
  width: 3.4rem;
  color: rgb(0, 64, 201);
}

.social-icon-yt {
  height: 3.4rem;
  width: 3.4rem;
  color: #c1272d;
}

.logo-link {
  display: flex;
  gap: 5rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #c1272d;
}

.logo-col {
  align-self: end;
}

@media (max-width: 42em) {
  .footer {
    padding: 6.8rem 2rem 2rem 2rem;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.2rem;
  }

  .logo-col {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .logo-link {
    justify-content: center;
  }

  .footer-logo {
    margin-bottom: 0;
  }
}
