* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/*
Colors: #C1272D , #fcfaf9; #333
*/
.container {
  max-width: 130rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-primary span {
  font-size: 6rem;
  color: #c1272d;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #c1272d;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #c1272d;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #9a1f24;
}

.btn--outline {
  background-color: #333;
  color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #444;
  color: #fff;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  /* box-shadow: inset 0 0 0 3px #fff; */
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.link:link,
.link:visited {
  text-align: center;
  text-decoration: none;
  color: #c1272d;
  border-bottom: 2px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:active,
.link:hover {
  border-bottom: 1px solid transparent;
}
