/* NAVIGATION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfaf9;
  /* Because we want header to be sticky later */
  height: 8.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 5.2rem;
}

.sticky .header {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 50%;
  width: 100%;
  background-color: #fff;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1rem 3.2rem rgba(0, 0, 0, 0.04);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c1272d;
}

.main-nav-link:link.nav-cta,
.main-nav-link:visited.nav-cta {
  background-color: #c1272d;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link:hover.nav-cta,
.main-nav-link:active.nav-cta {
  background-color: #9a1f24;
}
.main-nav-link:link.quiz-cta,
.main-nav-link:visited.quiz-cta {
  background-color: #2777c1;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link:hover.quiz-cta,
.main-nav-link:active.quiz-cta {
  background-color: #1f639a;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

@media (max-width: 42em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 1.6rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .main-nav-list {
    background-color: #ffffffea;
    height: 100vh;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }

  .navOpen .main-nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .navOpen .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .navOpen .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.6rem;
  }
}
