.section-hero {
  background-color: #fcfaf9;
  padding: 3.8rem 0 9.6rem 0;
}

.sticky .section-hero {
  margin-top: 8.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.student-imgs img {
  height: 6.8rem;
  margin-right: -1.6rem;
}

.success-story {
  display: flex;
  align-items: center;
  justify-self: center;
  grid-column: 1/-1;
  gap: 1.6rem;
  margin-top: 8rem;
}

.student-imgs {
  display: flex;
}

.student-imgs img {
  margin-right: -1.2rem;
}

.student-imgs img:last-child {
  margin: 0;
}

.students-text {
  font-size: 2rem;
  font-weight: 500;
}

.students-text span {
  color: #c1272d;
}

.hero-img-box img {
  width: 100%;
}

.hero-img-box {
  line-height: 0;
  /* grid-column: 2;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center; */
}

@media (max-width: 42em) {
  .section-hero {
    max-width: 130rem;
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    padding: 0 1.8rem;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .hero-img-box {
    margin-top: 3.2rem;
  }

  .success-story {
    flex-direction: column;
    text-align: center;
    margin-top: 4.8rem;
  }

  /* .hero-btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  } */

  .hero-img-box,
  .hero-text-box {
    text-align: center;
  }

  .hero-img-box img {
    width: 95%;
  }

  .success-story {
    margin-top: 3.2rem;
  }
}
