.section-testimonials {
  background-color: #fcfaf9;
}

.testimonials-container {
  padding: 9.6rem;
}

.testomonial-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 3rem;
}

.testimonial-image-name {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 2rem;
  font-weight: 500;
  color: #c1272d;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.name-link {
  color: #c1272d;
  text-decoration: none;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding-right: 2rem;
}

.gallery-item {
  overflow: hidden;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Full width */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.gallery-img {
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}

.modal .gallery-img {
  height: 50%;
  width: 50%;
  transform: translate(50%, 50%);
}

/* .gallery-img:hover {
  transform: scale(1.06);
} */

.gallery-1 {
  grid-column: 1/3;
}

.gallery-2 {
  grid-column: 3/-1;
}

.gallery-11 {
  grid-column: 1/3;
}

.gallery-12 {
  grid-column: 3/-1;
}

@media (max-width: 42em) {
  .testomonial-gallery-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .testimonials-container {
    padding: 3.2rem;
  }

  .gallery {
    padding: 0;
  }

  .section-cta {
    padding: 9.6rem 2rem;
    background-color: #fcfaf9;
  }
}
