.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  margin-top: 5rem;
}

.finishBtn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.finishPosition {
  margin-top: 2rem;
  float: right;
}
