.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.start h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.start h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.startBtn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.startPosition {
  float: right;
}
